@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
.formDiv {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  max-width: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px #dddddd44;
          box-shadow: 1px 1px 10px #dddddd44;
  border: 1px solid #ebebeb;
}

.formDiv .wheel {
  background: url("https://i.ibb.co/V2T5zvz/Pngtree-roulette-fortune-spinning-wheel-flat-6400064.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 280px;
  display: -ms-grid;
  display: grid;
  height: 280px;
  place-content: center;
  position: relative;
  margin: 20px auto;
}

.formDiv .wheel #spinWheel {
  display: block;
  position: absolute;
  width: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  top: 50%;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.formDiv .wheel #spinWheel:hover {
  -webkit-transform: translate(-50%, -60%) scale(1.05);
          transform: translate(-50%, -60%) scale(1.05);
}

.formDiv .congratsTxt {
  text-align: center;
  margin-bottom: 30px;
}

.formDiv .congratsTxt .hd {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.formDiv .congratsTxt .txt {
  margin-top: 5px;
  font-weight: 600;
  color: #0090EA;
}

.formDiv .congratsTxt .txt {
  -webkit-animation: glow .5s ease-in-out infinite alternate;
          animation: glow .5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes glow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.formDiv .error {
  color: red;
  font-size: 11px;
  margin-top: 3px;
}

.formDiv .disclaimer {
  font-size: 13px;
}

.formDiv .disclaimer span {
  color: #0090EA;
  font-weight: 600;
  line-height: 1.4;
}

.formDiv .top {
  background: #0090EA;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: -20px -20px 20px -20px;
  font-size: 18px;
  font-weight: 600;
}

.formDiv .submitBtn {
  background: #F08051;
  text-align: center;
  color: #fff;
  font-size: 15px;
  text-align: center;
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.formDiv .submitBtn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.formDiv .submitBtn {
  background: #0090EA;
}

.formDiv .submitBtn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.formDiv canvas {
  width: 250px;
  display: block;
  margin: 0 auto;
}

.formDiv input:not([type="checkbox"]) {
  width: 100%;
  height: 100%;
  padding: 12px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-family: inherit;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  background: #f7f7f7;
}

.formDiv input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: #fff;
}

.formDiv .idnty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */